.tour-options {
    display: none;
    flex-direction: column;
    align-items: center;
}        
.tour-options h1 {
    text-align: center;
    margin-bottom: 20px; /* Add some spacing after the heading */
}
/*.tour-container {
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;
}*/
#playerFormContainer {
    text-align: center;
}
#playerForm {
    max-width: 600px;
    margin: 0 auto; /* Center the form container */
}
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.form-row label {
    flex-basis: 30%; /* Label takes 30% width */
    text-align: left;
    font-size: 20px;
    font-family: Arial, sans-serif; /* Use a clean, readable font */
    line-height: 1; /* Adds some spacing for better readability */
    height: 100%; /* Ensure the label occupies the full height */
    display: flex;
    align-items: center; /* Text inside the label is vertically centered */
}
.form-row input {
    flex-basis: 65%; /* Input takes 65% width */
    padding: 12px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: black;
    width: 100%; /* Ensure full width for input */
    border: 1px solid #ccc;
    border-radius: 4px; /* Adds slight rounding to input field borders */
}
.player-name-form {
    text-align: center;
}
.player-name-form label {
    display: block;
    margin: 10px 0;
}
.player-name-form input {
    padding: 10px;
    width: 200px;
    color: black;
    margin-bottom: 20px;
}
